h1 {
	color:green;
}
body {
	background-color: #a80000;
}
p {
	text-align: center;
}
p {
	font-size: 30px; 
}
a {
	color: white;
}
a {
	text-align: right; 
}
span {
	text-align: right;
}

div {
	text-align: center; 
}